<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
    "classpath://org/hibernate/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.password">pocsiops</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://192.168.61.70;databaseName=demo-POCSIOPS;selectMethod=cursor</property>
        <property name="hibernate.connection.username">pocsiops</property>
        <property name="hibernate.default_catalog">demo-POCSIOPS</property>-->
        
		<property name="connection.datasource">POCSIOPSDATA-DS</property>
        <property name="hibernate.default_schema">dbo</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
		
        
        <mapping resource="pt/reditus/pocsiops/core/States.hbm.xml" />
        <mapping resource="pt/reditus/pocsiops/core/OperatorOperation.hbm.xml" />
        <mapping resource="pt/reditus/pocsiops/core/Operators.hbm.xml" />
        <mapping resource="pt/reditus/pocsiops/core/Operations.hbm.xml" />
        <mapping resource="pt/reditus/pocsiops/core/Users.hbm.xml" />
    </session-factory>
</hibernate-configuration>
