<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
    "classpath://org/hibernate/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factor>
        <!--<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.password">pocsiops</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://192.168.61.70;databaseName=demo-POCSIOPS;selectMethod=cursor</property>
        <property name="hibernate.connection.username">pocsiops</property>
        <property name="hibernate.default_catalog">demo-POCSIOPS</property>
        <property name="hibernate.default_schema">dbo</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>-->
        
		<property name="connection.datasource">POCSIOPSDATA-DS</property>
		
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping class="pt.reditus.pocsiops.core.States" />
        <mapping class="pt.reditus.pocsiops.core.OperatorOperation" />
        <mapping class="pt.reditus.pocsiops.core.Operators" />
        <mapping class="pt.reditus.pocsiops.core.Operations" />
        <mapping class="pt.reditus.pocsiops.core.Users" />
    </session-factory>
</hibernate-configuration>
